<html>
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <%- include('partials/_header'); %>
     <%- body %> 
     <%- include('partials/_footer'); %>
  </body>
</html>
