<h1>Sign Up!</h1>

<form action="/users/create" method="post">
    <input type="text" name="name" placeholder="Enter your name" required>
    <input type="email" name="email" placeholder="Enter your email" required>
    <input type="password" name="password" placeholder="Enter password" required>
    <input type="password" name="confirm_password" placeholder="Confirm password" required>
    <button type="submit">Sing Up</button>
</form>