<h1>Sign In!</h1>

<form action="/users/create-session" method="post">
    <input type="email" name="email" placeholder="Enter email" required>
    <input type="password" name="password" placeholder="Enter password" required>
    <button type="submit">Sing In</button>
</form>

<p>
    <a href="/users/auth/google">Google Sign In / Sign Up</a>
</p>